.leaf {
    display: inline-block;
    min-height: 40px;
    text-align: center;
    white-space: nowrap;
    vertical-align:top;
}

.vertical-line {
    background-color: #8c684a;
    width: 2px;
    margin: auto;
    height: 10px;
}

.horizontal-line {
    background-color: #8c684a;
    height: 2px;
    margin: auto;
    width: 100%;
}

.horizontal-line.first {
    width: 50%;
    float: right;
}

.horizontal-line.last {
    width: 50%;
    float: left;
}

.horizontal-line.selected, .vertical-line.selected{
    background-color: cadetblue;
}

.is-root {
    margin-top: 10px;
}

.name {
    background-color: #4da83b ;
    border-radius: 5px;
    padding:2px;
    margin: 5px;
}

.name.selected{
    background-color: cadetblue;
}

.name.selected.result{
    font-weight: bold;
}