h1 {
    font-size: 30px;
}

h1, h2 {
    margin: 0;
    vertical-align: middle;
    line-height: 35px;
    font-weight: normal;
}

h2 {
    font-size: 18px;
}

.all-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.title-container {
    position: fixed;
    left: 0;
    width: 31%;
}

.head-container {
    position: fixed;
    width: 100%;
    border-bottom: 10px #DDD solid;
    height: 35px;
}

.content-container {
    position: fixed;
    width: 100%;
    top: 35px;
    bottom: 0;
}

.dataset-title, .algorithm-title {
    float:left;
    font-size: 25px;
    font-weight: normal;
    line-height: 35px;
    margin: 0 5px;
}

.datasets-container {
    position: fixed;
    width: 67%;
    right: 0;
}

.dataset {
    float:left;
    cursor: pointer;
    padding: 0 5px
}

.dataset.selected {
    background-color: cadetblue;
}

.dataset.selected h2 {
    font-weight: bold;
}