<div class="all-container">
    <div class="head-container">
        <div class="title-container">
            <h1>
                &nbsp;&nbsp;{{ title }}
            </h1>
        </div>
        <div class="datasets-container">
            <div class="dataset-title"> Dataset: </div>
            <select class="head-select" [(ngModel)]="selectedDataset">
                <option *ngFor="let dataset of datasets" [ngValue]="dataset">{{dataset.title}}</option>
            </select>
            <div class="algorithm-title"> Algo: </div>
            <select class="head-select" [(ngModel)]="selectedAlgorithmName">
                <option *ngFor="let algoName of algorithmNames" [ngValue]="algoName">{{algoName}}</option>
            </select>
        </div>
    </div>
    <div class="clear:both;"></div>
    <div class="content-container">
        <app-tree [dataset]="selectedDataset" [algorithmName]="selectedAlgorithmName"></app-tree>
    </div>
</div>